.homepage {
  height: 100vh;
  background-repeat: no-repeat;
  background-position: center !important;
  background-size: cover !important;
  .main-content {
    margin: 0 auto;
    width: 654px;
    padding-top: 100px;

    .logo {
      margin: 0 auto;
      background-repeat: no-repeat;
      background-position: center !important;
      background-size: cover !important;
    }
    .searchBox {
      height: 40px;
    }

    .navigator {
      width: 100%;
      margin: 10px 0;
      padding: 7px;
      border-radius: 7px;
      background: #ffffff69;
      display: flex;
      flex-wrap: wrap;

      .bui-icon {
        margin: 10px;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          box-shadow: 0 0 5px 5px #6d6d6d9e;
        }
      }
    }
  }
}
