@font-face {
  font-family: "iconfont"; /* Project id 3250542 */
  src: url('iconfont.woff2?t=1650011145343') format('woff2'),
       url('iconfont.woff?t=1650011145343') format('woff'),
       url('iconfont.ttf?t=1650011145343') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shouye:before {
  content: "\e640";
}

.icon-ego-menu:before {
  content: "\e605";
}

.icon-jichu:before {
  content: "\eb25";
}

.icon-jiekou:before {
  content: "\e669";
}

.icon-bianji:before {
  content: "\e66f";
}

.icon-bianji-m:before {
  content: "\eaf5";
}

.icon-guanbi:before {
  content: "\e6b5";
}

.icon-guanbi-m:before {
  content: "\eaf4";
}

.icon-jiahao:before {
  content: "\eaf3";
}

.icon-setting-fill:before {
  content: "\e871";
}

